html
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}






/******* Header  ********/

header
{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83vh;
    background-image: url(logo/182632500_205565954506137_2245921697493226070_n.png);
    font-size: 7em;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: beige;
    margin-top: -8.5em;
    
}

@media screen and (max-width: 540px) 
{

    .heading
    {
        margin-top: -13em;
    }
    
}

@media screen and(max-width: 425px)
{
    .heading
    {
        margin-top: -16em;
        font-size: 15px;
    }
}

@media screen and (max-width: 394px)
 {
    .heading
    {
        margin-top: -12em;
        font-size: 25px;
    }
}

@media screen and (max-width: 353px)
 {
    .heading
    {
        margin-top: -14em;
        font-size: 20px;
    }

    header
    {
        background-size: 2.7em;

    }
}

/******* end of header  *********/







/********* desktop navigation Menu ***********/

.nav-menu
{
    border: 1px solid gray;
    background-color: white;
    position: sticky;
    top: 0;
    transition: 1s ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link
{
    margin-top: -2.9em;
}

nav ul li a:hover
{
    color: royalblue;
    transition: .5s ease-in-out;
}

.nav-link a::after
{
    content: "";
    border: 1px solid gray;
    margin-left: 1.5em;
}

.nav-link a:last-child::after
{
    border-style: none;
}

nav ul li
{
    display: flex;
    margin-top: 1em;
    text-transform: uppercase;
}

nav ul li a
{
   padding: .5em;
   text-decoration: none;
   color: black;
}

/********* End of desktop navigation ***********/






/********** Hamburger Menu - mobile menu ************/

.hamburger-menu
{
    width: 1em;
    padding-left: 1em;
    color: black;
    cursor: pointer;
    margin-top: 1.5em;
    visibility: hidden;
}

.bar-1
{
    background-color: black;
    width: 25px;
    height: 4px;
    margin: 4px 0;
}
.bar-2
{
    background-color: black;
    width: 25px;
    height: 4px;
    margin: 4px 0;
}
.bar-3
{
    background-color: black;
    width: 25px;
    height: 4px;
    margin: 4px 0;
}






/********** Media Query for hamburger menu at 500px **********/

@media screen and (max-width: 800px)
{
    .hamburger-menu
    {
        visibility: visible;
    }

    nav ul li a
    {
        padding: 1.5em;
        width: 100%;
        font-size: 15px;
        display: block;
    }

    .nav-link
    {
        border: 2px solid gray;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 700px;
        margin-top: .3em;
        margin-left: -2em;
        opacity: 0.8;
        display: none;
    }

    .nav-link a::after
    {
        content: "";
        border: none;
    }

}

/*********** end of full mobile menu ************/






/******** Social Media links  ************/

.links
{
    float: right;
    margin-top: -1.3em;
    font-size: 1.2em;
    margin-right: 1em;
    cursor: pointer;
}

.links-a
{
    padding: .2em
}

.links-a:hover
{
    transition: .5s ease-in-out;
    transform: scale(2, 2);
}

/******** End of social media links ************/








/******** construct pop up ***********/

.construct-pop-up
{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 80px;
    background-color: white;
}

.close-construct-pop-up
{
    text-align: end;
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    margin-top: -.5em;
}

.construct-pop-up-body
{
    width: 75%;
    color: black;
    font-size: 22px;
    padding: .5em;
    border: 1px solid black;
    padding-bottom: .5em;
    font-family: 'Titillium Web', sans-serif;
}

.construct-pop-up-text
{
    text-align: center;
}

/******** construct pop up ***********/







/********** Section-1-Our Purpose **********/

.section-1
{
    margin-top: 7em;
    width: 80%;
    height: 100vh;
}

.section-1-heading
{
    font-size: 30px;
    text-align: start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2em;
    font-weight: 700;
}

.section-1-body-text
{
    text-align: start;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 411px) 
{
    .section-1
    {
        margin-top: 4em;
    }

    .section-1-heading
    {
        margin-bottom: 1em;
    }
}

/********** End of section-1-Our Purpose **********/







/******* section-2 Newsletter ********/

.section-newsletter
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.newsletter-body
{
    width: 700px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsletter-heading
{
    text-align: center;
    margin-top: 2em;
    font-family: 'Titillium Web', sans-serif;    
    font-size: 30px;
}

.newsletter-sub-heading
{
    text-align: center;
    margin-top: 2em;
    font-family: 'Titillium Web', sans-serif;    
    font-size: 25px;
}

@media screen and (max-width: 715px) 
{
    .newsletter-body
    {
        width: 600px;
        height: 300px;
    }
}

/******* End of newsletter ********/